<%- include('head.ejs') %>

  <body>
    <!-- loader starts-->
    <div class="loader-wrapper">
      <div class="loader-index"> <span></span></div>
      <svg>
        <defs></defs>
        <filter id="goo">
          <fegaussianblur in="SourceGraphic" stddeviation="11" result="blur"></fegaussianblur>
          <fecolormatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"> </fecolormatrix>
        </filter>
      </svg>
    </div>
    <!-- loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page Header Start-->
      <div class="page-header">
        <div class="header-wrapper row m-0">
          <form class="form-inline search-full col" action="#" method="get">
            <div class="form-group w-100">
              <div class="Typeahead Typeahead--twitterUsers">
                <div class="u-posRelative">
                  <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text"
                    placeholder="Search .." name="q" title="" autofocus>
                  <div class="spinner-border Typeahead-spinner" role="status"><span class="sr-only">Loading...</span>
                  </div><i class="close-search" data-feather="x"></i>
                </div>
                <div class="Typeahead-menu"></div>
              </div>
            </div>
          </form>
          <div class="header-logo-wrapper col-auto p-0">
            <div class="logo-wrapper"><a href="index.html"><img class="img-fluid" src="assets/images/logo/logo.png"
                  alt=""></a></div>
            <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i>
            </div>
          </div>
          <div class="nav-right col-xxl-7 col-xl-6 col-md-7 col-8 pull-right right-header p-0 ms-auto">
            <ul class="nav-menus">
              <li class="language-nav">
                <div class="translate_wrapper">
                  <div class="current_lang">
                    <div class="lang"><i class="flag-icon flag-icon-id"></i><span class="lang-txt">ID</span></div>
                  </div>
                  <div class="more_lang">
                    <div class="lang selected" data-value="en"><i class="flag-icon flag-icon-us"></i><span
                        class="lang-txt">English<span> (US)</span></span></div>
                    <div class="lang" data-value="de"><i class="flag-icon flag-icon-de"></i><span
                        class="lang-txt">Deutsch</span></div>
                    <div class="lang" data-value="es"><i class="flag-icon flag-icon-es"></i><span
                        class="lang-txt">Español</span></div>
                    <div class="lang" data-value="fr"><i class="flag-icon flag-icon-fr"></i><span
                        class="lang-txt">Français</span></div>
                    <div class="lang" data-value="pt"><i class="flag-icon flag-icon-pt"></i><span
                        class="lang-txt">Português<span> (BR)</span></span></div>
                    <div class="lang" data-value="cn"><i class="flag-icon flag-icon-cn"></i><span
                        class="lang-txt">简体中文</span></div>
                    <div class="lang" data-value="ae"><i class="flag-icon flag-icon-ae"></i><span
                        class="lang-txt">لعربية <span> (ae)</span></span></div>
                  </div>
                </div>
              </li>
              
              
              <li>
                <div class="mode">
                  <svg>
                    <use href="assets/svg/icon-sprite.svg#moon"></use>
                  </svg>
                </div>
              </li>
              
              <li class="profile-nav onhover-dropdown pe-0 py-0">
                <div class="media profile-media"><img class="b-r-10" src="assets/images/dashboard/boy.png" alt="">
                  <div class="media-body"><span><%= user.name %></span>
                    <p class="mb-0 font-roboto">Admin <i class="middle fa fa-angle-down"></i></p>
                  </div>
                </div>
                <ul class="profile-dropdown onhover-show-div">
                  <li><a href="/login"><i data-feather="log-out"> </i><span>Log out</span></a></li>
                </ul>
              </li>
            </ul>
          </div>
          <script class="result-template" type="text/x-handlebars-template">
            <div class="ProfileCard u-cf">                        
            <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
            <div class="ProfileCard-details">
            <div class="ProfileCard-realName">{{name}}</div>
            </div>
            </div>
          </script>
          <script class="empty-template"
            type="text/x-handlebars-template"><div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div></script>
        </div>
      </div>
      <!-- Page Header Ends                              -->
      <!-- Page Body Start-->
      <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <div class="sidebar-wrapper" sidebar-layout="stroke-svg">
          <div>
            <div class="logo-wrapper"><a href="index.html"><img class="img-fluid for-light"
                  src="assets/images/logo/logo.png" alt=""><img class="img-fluid for-dark"
                  src="assets/images/logo/logo_dark.png" alt=""></a>
              <div class="back-btn"><i class="fa fa-angle-left"></i></div>
              <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
            </div>
            <div class="logo-icon-wrapper"><a href="index.html"><img class="img-fluid"
                  src="assets/images/logo/logo-icon.png" alt=""></a></div>
            <nav class="sidebar-main">
              <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                  <li class="back-btn"><a href="index.html"><img class="img-fluid"
                        src="assets/images/logo/logo-icon.png" alt=""></a>
                    <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2"
                        aria-hidden="true"></i></div>
                  </li>
                  <li class="pin-title sidebar-main-title">
                    <div>
                      <h6>Pinned</h6>
                    </div>
                  </li>
                  <li class="sidebar-main-title">
                    <div>
                      <h6 class="lan-1">General</h6>
                    </div>
                  </li>
                  <li class="sidebar-list"><i class="fa fa-thumb-tack"></i>
                    <a class="sidebar-link sidebar-title" href="users">
                      <svg class="stroke-icon">
                        <use href="assets/svg/icon-sprite.svg#stroke-home"></use>
                      </svg>
                      <svg class="fill-icon">
                        <use href="assets/svg/icon-sprite.svg#fill-home"></use>
                      </svg><span class="lan-3">Dashboard</span></a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-6">
                  <h3><%= user.name %></h3>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Details</h5>
                  </div>
                  <div class="card-body">
                    <ul>
                      <% if (Array.isArray(details)) { %>
                        <% for (var i = 0; i < details.length; i++) { %>
                          <li>
                            <img src="<%= details[i].img %>" width="700" height="350"/>
                          </li>
                          <li>Description : <%= details[i].description %></li>
                          <li>Jenis Kontrak : <%= details[i].jenis_kontrak %></li>
                          <li>Sumber Dana : <%= details[i].sumber_dana %></li>
                          <li>Deviasi Fisik : <%= details[i].progres_deviasi_fisik %></li>
                          <li>Deviasi Keuangan Fisik : <%= details[i].progres_deviasi_keu_fisik %></li>
                          <li>Deviasi Keuangan : <%= details[i].progres_deviasi_keuangan %></li>
                          <li>Realisasi Fisik : <%= details[i].progres_realisasi_fisik %></li>
                          <li>Realisasi Keuangan : <%= details[i].progres_realisasi_keuangan %></li>
                          <li>Rencana Fisik : <%= details[i].progres_rencana_fisik %></li>
                          <li>Rencana Keuangan : <%= details[i].progres_rencana_keuangan %></li>
                        <% } %>
                      <% } else if (details) { %>
                        <li>
                          <img src="<%= details.img %>" width="700" height="350"/>
                        </li>
                        <li>Description : <%= details.description %></li>
                        <li>Jenis Kontrak : <%= details.jenis_kontrak %></li>
                        <li>Sumber Dana : <%= details.sumber_dana %></li>
                        <li>Deviasi Fisik : <%= details.progres_deviasi_fisik %></li>
                        <li>Deviasi Keuangan Fisik : <%= details.progres_deviasi_keu_fisik %></li>
                        <li>Deviasi Keuangan : <%= details.progres_deviasi_keuangan %></li>
                        <li>Realisasi Fisik : <%= details.progres_realisasi_fisik %></li>
                        <li>Realisasi Keuangan : <%= details.progres_realisasi_keuangan %></li>
                        <li>Rencana Fisik : <%= details.progres_rencana_fisik %></li>
                        <li>Rencana Keuangan : <%= details.progres_rencana_keuangan %></li>
                      <% } else { %>
                        <li>No details found for this ID.</li>
                      <% } %>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>
        
        <%- include('foot.ejs') %>